.cities-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .add-container {
    height: 60px;
    width: 97%;
  }

  .add-button {
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    height: 55px;
    width: 150px;
    text-align: center;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    float: right;
    cursor: pointer;

    &:active {
      box-shadow: 10px 3px 100px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
      bottom:-4px;
    }

    .add-header {
      font-size: 15px;
      padding-left: 10px;
      padding-bottom:8px;
    }

    .add-plus {
      background-color: #f6f6f6;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      margin-top: 2px;
    }
    .add-plus::before {
      content: "+";
      font-size:45px;
      align-items:center;
      justify-content:center;
      font-family:courier;
      color:green;
    }
  }

}

