.displayed-cities {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  width: 80%;

  .displayed-cities-metrics {
    list-style-type: none;
    border-radius: 10px;
    height: 350px;
    width: 150px;
    text-align: center;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
  }
}