.select-city-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  width: 97%;

  .select-city-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .select-city-input {
    font-size: 15px;
    width: 40vh;
    height: 4vh;
    border-radius: 10px;
    margin: 3vh 0;
    text-align: center;
    &:focus {
      outline: none;
    }
  }

  .select-city-submit {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80 ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:active {
      transform: scale(0.95);
    }
  }

  .select-city-exit {
    font-size: 30px;
    position: absolute;
    top: 1;
    right: 0;
    padding-right: 8vh;
    padding-top: 2vh;
    cursor: pointer;
    
    &:active {
      transform: scale(0.95);
    }
  }
}

.select-city-submit-dark {
  background: #ffdb58;
}

.select-city-exit-dark {
  color: white;
}
