.select-city-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  width: 97%;

  .select-city-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .select-city-input {
    font-size: 15px;
    width: 40vh;
    height: 4vh;
    border-radius: 10px;
    margin: 3vh 0;
    text-align: center;
    &:focus {
      outline: none;
    }
  }

  .select-city-submit {
    width: 30vh;
    height: 3vh;
    border-radius: 20px;
    -webkit-appearance: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .select-city-exit {
    font-size: 30px;
    position: absolute;
    top: 1;
    right: 0;
    padding-right: 8vh;
    padding-top: 2vh;
    cursor: pointer;
  }
}

.select-city-submit-dark {
  background: #ffdb58;
}

.select-city-exit-dark {
  color: white;
}

