@mixin sideMenu($width) {
  height: 100%;
  width: $width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

@mixin sideMenuHeader($width) {
  height:30%;
  width: $width;
  background: linear-gradient(to right, #00FF9B, #5f84fb);
  transition: 0.6s;
}

@mixin sideMenuBody($width) {
  background-color: white;
  height: 70%;
  width: $width; 
  transition: 0.6s; 
}

.side-menu {
  .side-menu-container {
    @include sideMenu(0%);
    .side-menu-header {
      @include sideMenuHeader(0%);
    }
    .side-menu-body {
      @include sideMenuBody(0%)
    }
  }
}

.side-menu-active {
  .side-menu-container {
    @include sideMenu(100%);
    background-color: rgba(248, 247, 216, 0.7);
    .side-menu-header {
      @include sideMenuHeader(20%);
      .side-menu-exit {
        display: flex;
        justify-content: flex-end;
        font-size: 30px;
        cursor: pointer;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
    .side-menu-body {
      @include sideMenuBody(20%);
    }
  }
}